<h1>ユーザー登録</h1>
<%= form_for @user, url: {action: :create} do |f| %>
    <%= f.label :username, 'ユーザーID' %>
    <%= f.text_field :username %><br>
    <%= f.label :pass, 'パスワード' %>
    <%= f.password_field :pass %><br>
    <%= f.submit '登録' %>
<% end %>