<div class="container mt-2">
    <h1>ユーザー登録</h1>
    <%= form_for @user, url: {action: :create}, html: {class: 'form'} do |f| %>
        <div class="form-group">
            <%= f.label :username, 'ユーザーID' %>
            <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード確認' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.fields_for :user_profile do |profile_fields| %>
            <div class="form-group">
                <%= profile_fields.label :age, '年齢' %>
                <%= profile_fields.number_field :age, class: 'form-control' %>
            </div>    
            <div class="form-group">
                <%= profile_fields.label :biography, '自己紹介文' %>
                <%= profile_fields.text_field :biography, class: 'form-control' %>
            </div> 
            <div class="form-group">
                <%= profile_fields.label :region, '地域' %>
                <%= profile_fields.text_field :region, class: 'form-control' %>
            </div> 
            <div class="form-group">
                <%= profile_fields.label :experience_years, '経験年数' %>
                <%= profile_fields.number_field :experience_years, class: 'form-control' %>
            </div> 
            <div class="form-group">
                <%= profile_fields.label :favorite_fishing_type, '好きな釣りの種類' %>
                <%= profile_fields.text_field :favorite_fishing_type, class: 'form-control' %>
            </div> 
        <% end %>
        <div class="d-flex justify-content-end mt-2">
            <%= f.submit '登録', class: 'btn btn-primary form-submit-button' %>
        </div>
    <% end %>

    <div class="d-flex justify-content-end mt-1">
        <%= link_to 'ログインはこちら', top_login_path, class: 'btn btn-link' %>
    </div>        
</div>